{% extends "accounts/base.html" %}

{% block title %}Album Detail{% endblock %}
{% block content %}

<h2>Album : {{ album_name.first.album.album_name }}</h2>

{% for data in album_name %}
<p>
    <div>
        <img src="/media/{{ data.song.song_thumbnail }}" alt="{{ data.album_name }}" width="80" height="80"><br>
        <h3>{{ data.song.song_name }}</h3>
        <h4>Artsts: </h4>
        {% for artist in data.song.song_user.all %}
            <p>{{ artist.username }}</p>
        {% endfor %}
        <audio controls>
            <source src="/media/{{ data.song.song_file }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</p>

{% endfor %}
{% endblock %}