{% extends "accounts/base.html" %}

{% load static %}

{% block title %}Playlist Detail{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'stream/css/style.css' %}">
  {% endblock %}
{% block content %}

{% if playlist_name.playlist %}
    <!-- partial:index.partial.html -->
    <div class="container">
    
      <audio id="audio" preload="none" tabindex="0">
        {% for audio in playlist_name.songs %}
          <source src="/media/{{ audio.song__song_file }}" id="song_track" data-track-number="{{forloop.counter}}" type="audio/mpeg"/>
        {% endfor %}
          Your browser does not support HTML5 audio.
      </audio>
      <h2>{{ playlist_name.playlist.first.playlist__playlist_name }}</h2>
      <img src="/media/{{ playlist_name.playlist.first.playlist__playlist_thumbnail }}" alt="{{ playlist_name.playlist.first.playlist__playlist_name }}">
      <div class="player">

        <div class="large-toggle-btn">
          <i class="large-play-btn"><span class="screen-reader-text">Large toggle button</span></i>
        </div>
        <!-- /.play-box -->
    
        <div class="info-box">
          <div class="track-info-box">
            <div class="track-title-text"></div>
            <div class="audio-time">
              <span class="current-time">00:00</span> /
              <span class="duration">00:00</span>
            </div>
          </div>
          <!-- /.info-box -->
    
          <div class="progress-box">
            <div class="progress-cell">
              <div class="progress">
                <div class="progress-buffer"></div>
                <div class="progress-indicator"></div>
              </div>
            </div>
          </div>
    
        </div>
        <!-- /.progress-box -->
    
        <div class="controls-box">
          <i class="previous-track-btn disabled"><span class="screen-reader-text">Previous track button</span></i>
          <i class="next-track-btn"><span class="screen-reader-text">Next track button</span></i>
        </div>
        <!-- /.controls-box -->
    
      </div>

    <!-- partial -->
    <div class="play-list">
    {% for data in playlist_name.songs %}
        <div class="play-list-row" data-track-row="{{forloop.counter}}">
          <div class="small-toggle-btn">
            <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
          </div>
          <div class="track-number">
            <img src="/media/{{ data.song__song_thumbnail }}" alt="{{ data.song__song_thumbnail }}" height="25px" width="30px">
            {{forloop.counter}}
          </div>
          <div class="track-title">
            <a class="playlist-track" href="#" data-play-track="{{forloop.counter}}">{{ data.song__song_name }}     {{ data.song__song_duration|time:"H\h i\m"}}</a>
          </div>
        </div>
    {% endfor %}
    </div>
  <script  src="{% static 'stream/js/script.js' %}"></script>

  {% else %}
    <h3>There are no songs in this playlist.</h3>
{% endif %}

  {% endblock %}